html,body{
    width: 100%;
    height: 100%;
}
.checkMenu{
    display: none;
}
.buttonMenu{
    height: 50px;
    width: 50px;
    background-color: #083359;
    border-radius: 50px;
    bottom: 25px;
    right: 25px;
}
.line{
    position: relative;
    display: block;
    background-color: rgb(255, 255, 255);
    width: 30px;
    height: 5px;
    border-radius: 30%;
    top: 22px;
    left: 10px;
}
.line:after,
.line:before{
    background-color: rgb(255, 255, 255);
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 30%;
}
.line:before{
    top: -10px;
}
.line:after{
    bottom: -10px;
}
.intesMenu{
    padding: 0;
    top: 100px;
    display: flex;
    width: 100%;

}
.retangleMenu{
    background-color:#049DD9;
    width: 350px;
    height: 100%;
    /* position: relative; */
}
.interMenu{
    
}
.blocksLinks{
    display: block;
    padding: 20px 5px;
    color: white;
    text-decoration: none;
    font: bold 15pt Arial;
}
.blocksLinks:hover{
    background-color: #1AB6D9;
}
.menu{
    background-color:#d90404;
    padding: 15px;
    position: absolute;
 
}
.UlMenu{
    list-style: none;
    background-color: violet;
    top: 70px;
    position: absolute;
    width: 100%;
    padding: 0;
}