html,body{
    width: 100%;
    height: 100%;
}
body{
    margin: 0;
}
.UlMenu{
    list-style: none;
}
.buttonMenu img{
    width: 60px;
}
.checkMenu{
    display: none;
}
.retangleMenu{
    background-color: #049DD9;
    width: 350px;
    height: 100%;
}